<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/vendor-70579f07a6.css">
    <link rel="stylesheet" href="styles/main-e77e706fbd.css">
</head>
<body ng-app="travelsApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header" ng-show="$root.logged === true" ng-controller="NavbarCtrl as nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- <a class="navbar-brand" href="#/">travels</a>-->
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a ui-sref="dashboard({})">Home</a></li>
                    <li><a ui-sref="travels({})">Travels</a></li>
                    <!-- <li><a ui-sref="expenses({})">Expenses</a></li>-->
                    <li class="">
                        <a >Currency<select name="currency" id="currency"
                                                    ng-options="item as item for item in $root.currencies"
                                                    ng-model="$root.selectedCurrency"
                                                    ng-change="nav.onChangeCurrency()"></select></a></li>
                    <li class="logout-btn"><a ui-sref="main({})"><span
                            class="glyphicon glyphicon-log-out padding-r-10"></span>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div ui-view=""></div>
</div>

<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
<div class="footer">
    <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> Powered by Emmanuel Castro</p>
    </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script src="scripts/vendor-0fcf2788e6.js"></script>

<script src="scripts/scripts-8dc7d0316b.js"></script>
</body>
</html>
