<div>
  <form id="formExpense" name="formExpense" ng-submit="$ctrl.saveExpense()">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title-create" ng-if="$ctrl.edit == false ">Creation of Expense</h3>
      <h3 class="modal-title" id="modal-title-edit" ng-if="$ctrl.edit == true ">Edition of Expense</h3>
    </div>
    <div class="modal-body" id="modal-body">


      <div class="form-group top-space width-100">
        <label for="type">Type</label>
        <input type="input" ng-required="true" name="type" ng-model="$ctrl.expense.type" id="type"
               class="form-control "/>
        <span style="color:red" class="fx-zoom-up fx-speed-800"
              ng-show="formExpense.type.$dirty && formExpense.type.$invalid">
                        <span ng-show="formExpense.type.$error.required">Type is required.</span>
                </span>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-8">
          <div class="form-group top-space width-100">
            <label for="date">Date</label>
            <p class="input-group">
              <input type="text" ng-required="true" class="form-control" name="date" id="date"
                     uib-datepicker-popup ng-model="$ctrl.expense.date" is-open="$ctrl.popup1.opened"
                     datepicker-options="$ctrl.dateOptions"
                     ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.open1()" style="margin-top: 0px !important;"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-xs-4">
          <div class="form-group top-space width-100">
            <label for="ammount">Ammount</label>
            <input type="input" ng-required="true" name="ammount" numbers-only=""
                   ng-model="$ctrl.expense.ammount" id="ammount" class="form-control "/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <p>Select file to Upload:</p>
          <!--<div ngf-select="" ngf-drop="" ng-model="$ctrl.file" name="file"
               ngf-model-options="{allowInvalid: false, debounce: 0}"
               ngf-pattern="'image/*'"
               ngf-accept="'image/*'"
               ngf-max-size="10MB"
               ngf-min-height="100"
               ng-disabled="false"
               ngf-capture="'camera'"
               ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/*'}"
               ngf-keep="'distinct'"
               ngf-max-files="1"
               ngf-drop-available="true"
               ngf-ignore-invalid="'pattern maxFiles'"
               class="drop-box ng-valid ng-valid-min-height ng-valid-min-width ng-valid-ratio ng-valid-max-ratio ng-valid-min-ratio ng-valid-max-duration ng-valid-min-duration ng-valid-duration ng-valid-validate-async-fn ng-valid-max-height ng-valid-max-width ng-valid-dimensions ng-dirty"
          >Select File
            <span ng-show="true" class=""> or Drop File</span>
          </div>-->
          <div class="btn btn-primary" ngf-select ng-model="$ctrl.file" name="file" ngf-pattern="'image/*'"
               ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100"
               >Select</div>
        </div>
        <div class="col-md-6">

          <p class="">Image thumbnail: </p><br>
          <div class="width-100" >
            <img class="img-fixed" ng-if=" $ctrl.edit == false || $ctrl.edit == true && $ctrl.file !== undefined"  ngf-thumbnail="$ctrl.file || '/images/placeholder.png'">
            <img class="img-fixed img-center" style="" ng-if="$ctrl.edit == true && $ctrl.file == undefined"
                 ng-src="{{$ctrl.image}}" alt="">
          </div>
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <!--   <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>-->
      <button class="btn btn-primary" type="submit" ng-disabled="$ctrl.sending || formExpense.$invalid">OK</button>
      <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
  </form>
</div>
