<div>
    <form id="formTravel" name="formTravel" ng-submit="$ctrl.createTravel()">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-create" ng-if="$ctrl.edit == false ">Creation of travel requirement</h3>
            <h3 class="modal-title" id="modal-title-edit" ng-if="$ctrl.edit == true ">Edition of travel requirement</h3>
        </div>
        <div class="modal-body" id="modal-body">


            <div class="form-group top-space width-100">
                <label for="destination" >Destination</label>
                <input type="text" ng-required="true"  required name="destination" ng-model="$ctrl.travel.destination" id="destination" class="form-control " />
                <span style="color:red" class="fx-zoom-up fx-speed-800"
                      ng-show="formTravel.destination.$dirty && formTravel.destination.$invalid">
                        <span ng-show="formTravel.destination.$error.required">Destination is required.</span>
                </span>
            </div>
            <div class="form-group top-space width-100">
                <label for="date_begin">Begining Date</label>
                <p class="input-group">
                    <input type="text" ng-required="true" class="form-control" uib-datepicker-popup ng-model="$ctrl.travel.date_begin" is-open="$ctrl.popup1.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" ng-change="$ctrl.changeDate2()" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>

          </span>
                </p>
            </div>
            <div class="form-group top-space width-100">
                <label for="date_end">Finish Date</label>
                <p class="input-group">
                    <input type="text" ng-required="true" class="form-control" uib-datepicker-popup ng-model="$ctrl.travel.date_end" is-open="$ctrl.popup2.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" ng-change="$ctrl.changeDate2()" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
            <div class="form-group top-space width-100">
                <label for="required_ammount">Required ammount</label>
                <input type="input" ng-required="true" required name="required_ammount" numbers-only="" ng-model="$ctrl.travel.required_ammount" id="required_ammount" class="form-control " />
                <span style="color:red" class="fx-zoom-up fx-speed-800"
                      ng-show="formTravel.required_ammount.$dirty && formTravel.required_ammount.$invalid">
                        <span ng-show="formTravel.required_ammount.$error.required">Ammount is required.</span>
                </span>
            </div>
            <div class="form-group top-space width-100">
                <label for="project">Project</label>
                <input type="input" name="project" ng-required="true" ng-model="$ctrl.travel.project" id="project" class="form-control " />
                <span style="color:red" class="fx-zoom-up fx-speed-800"
                      ng-show="formTravel.project.$dirty && formTravel.project.$invalid">
                        <span ng-show="formTravel.project.$error.required">Project is required.</span>
                </span>
            </div>
            <div class="form-group top-space width-100">
                <label for="customer">Customer </label>
                <input type="input" ng-required="true" name="customer" ng-model="$ctrl.travel.customer" id="customer" class="form-control " />
                <span style="color:red" class="fx-zoom-up fx-speed-800"
                      ng-show="formTravel.customer.$dirty && formTravel.customer.$invalid">
                        <span ng-show="formTravel.customer.$error.required">Customer is required.</span>
                </span>
            </div>

        </div>
        <div class="modal-footer">
            <!--   <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>-->
            <button class="btn btn-primary" type="submit" ng-disabled="$ctrl.sending || formTravel.$invalid">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </form>
</div>
