
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="inline" ng-if="travels.isEdit == false">Last travel created</h3>
          <h3 class="inline" ng-if="travels.isEdit == true">Travel detail </h3>

        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <label for="destination" class="top-space-10">destination</label>

              <p class="detail text-capitalize" ng-bind="travels.travel.destination"></p>

            </div>
            <div class="col-md-6 col-xs-12">
              <label for="project" class="top-space-10 ">project</label>

              <p class="detail text-capitalize" ng-bind="travels.travel.project"></p>

            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <label for="customer" class="top-space-10">customer</label>

              <p class="detail text-capitalize" ng-bind="travels.travel.customer"></p>

            </div>
            <div class="col-md-6 col-xs-12">
              <label for="date_created" class="top-space-10 ">date created</label>

              <p class="detail text-capitalize" ng-bind="travels.travel.date_created"></p>

            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <label for="date_begin" class="top-space-10">Begining date</label>

              <p class="detail text-capitalize" ng-bind="travels.travel.date_begin"></p>

            </div>
            <div class="col-md-6 col-xs-12">
              <label for="date_end" class="top-space-10 ">End date</label>

              <p class="detail text-capitalize" ng-bind="travels.travel.date_end"></p>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="inline">Expenses list</h3>
          <span class="pull-right btn-panel" ng-click="travels.openExpense()">New <i class="glyphicon glyphicon-plus"></i></span>
          </div>
        <div class="panel-body">
          <div ui-grid="travels.gridOptions" class="grid"></div>
          <p class="detail text-inline">
            * You can make multiple sort by holding shift key <br>
            * For the column of ammount the search will be with the real data (MXN)
          </p>
          <p class="pagination pagination-right">Current page:

            <select name="page" id="page" ng-options="item as item for item in travels.availablePages"
                    ng-model="travels.pagination.pageNumber"
                    ng-change="travels.load()" ng-init="1"></select>
            <!--   <input type="number" min="1" max="{{ travels.pagination.getTotalPages() }}"
            ng-model="travels.pagination.pageNumber" ng-change="travels.load()">-->
            of {{ travels.pagination.getTotalPages() }}
            <button type="button" class="btn btn-success" ng-click="travels.pagination.previousPage()">
              <i class="fa fa-arrow-circle-o-left"></i></button>
            <button type="button" class="btn btn-success" ng-click="travels.pagination.nextPage()">
              <i class="fa fa-arrow-circle-o-right"></i></button>
          </p>
        </div>

      </div>
    </div>
  </div>

